body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fff url('/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #000;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background: linear-gradient(45deg, #ff4d4d, #ff0000);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(45deg, #ff1a1a, #e60000);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.char-count {
    font-size: 0.9rem;
    color: #fff;
    margin-top: -10px;
}
